/* .hint{
	color: var(--tg-theme-hint-color);
}

.link{
	color: var(--tg-theme-link-color);
}

.button{
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	border: none;
	font-size: 18px;
}

.button:not(:last-child){
	margin-bottom: 20px
}

#usercard{
	text-align: center;
} */
.App,
.buttonpanel {
	display: flex;
	justify-content: center;
}

.panel {
	max-width: 290px;
}

.fullwidth {
	width: 100%;
}

.agreement {
	max-width: 250px;
}